.h1-container {
	width: 312px;
	margin-left: auto; 
	margin-right: auto;
}
.h1 {
	font-size: 59px;
	color: #0C1A47;
	margin-top: 46px;
	/*margin-left: 554px;
	margin-right: 527px;*/
	font-family: 'Anton', sans-serif;
}
.nav-container {
	width: 1025px;
	margin-left: auto;
	margin-right: auto;
}
.navigation {
	display: flex;
	margin-top: 78px;
}
.navli {
	font-size: 25px;
}
.nav-li {
	font-size: 25px;
	margin-left: 89px;

}
.section-1 {
	height: 480px;
}
.div-1 {
	margin-top: 58px;
	position: relative;
}
.img-1 {
	position: absolute;
	width: 100%;
}
.img-2 {
	width: 100%;
	position: absolute;
}
.indiv-container {
	width: 430px;
	margin-left: auto;
	margin-right: auto;
}
.text-1 {
	font-size: 61px;
	color: white;
	position: absolute;
	width: 423px;
	top: 180px; 
	bottom: 243px; 
	right: 490px;
	font-family: 'Roboto', sans-serif;

}
.text-2 {
	font-size: 25px;
	color: white;
	position: absolute;
	width: 266px;
	top: 278px; 
	left: 517px;
	bottom: 181px; 
	right: 583px;
	font-family: 'Quicksand', sans-serif;

}
.exh-container {
	width: 278px;
	margin-left: auto; 
	margin-right: auto;
}
.h1-exhibitions {
	font-size: 56px;
	margin-top: 102px;
	color: black;
}
.div-column1{
	height: 1px;
	width: 420px;
	background-color: black;
	margin-left: 438px;
	margin-top: 2px;

}
.div-column2 {
	height: 1px;
	width: 420px;
	background-color: black;
	margin-left: 490px;
	margin-top: 10px;
}
.main-container {
	width: 1084px;
	margin-left: auto;
	margin-right: auto;
}
.main-div {
	display: flex;
}
.indiv-1 {
	margin-top: 51px;
}
.indiv-text {
	font-size: 32px;
	color: black;
}
.indiv-text1 {
	font-size: 21px;
	color: #8B8B8B;
	margin-top: 11px;
}
.indiv-text2 {
	font-size: 25px;
	color: #8B8B8B;
	margin-top: 11px;
}
.button-1 {
	width: 123px;
	height: 47px;
	background-color: #608E4D;
	border-radius: 20px;
	border: none;
	margin-left: 75px;
	margin-top: 30px;

}
.in-button {
	color: white;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
.indiv-2 {
	margin-left: 40px;
	margin-top: 51px;
}
.hai-img {
	width: 348px;	 
	height: 285px;
}
.container {
	width: 256px;
	margin-left: auto;
	margin-right: auto;
}
.button-2 {
	width: 256px;
	height: 88px;
	background-color: #F3EFEF;
	margin-top: 111px;
	border: none;
}
.in-button2 {
	font-size: 20px;
	text-align: center;
}
.main-div2 {
	width: 100%;
	height: 486px;
	background-color: #515151;
	display: flex;
	margin-top: 50px;
}
.indiv-3 {
	font-size: 20px; 
	color: #F3EEA6;
	padding-top: 112px;
	padding-left: 141px;
}
.indiv-4 {
	font-size: 41px;
	color: white;
	padding-left: 141px; 
	padding-top: 35px;
	font-family: 'Anton', sans-serif;
}
.indiv-5 {
	font-size: 17px;
	color: white;
	padding-left: 141px;
	padding-top: 55px;
	letter-spacing: 0.4px;
	line-height: 1.2;
}
.Gogh-img {
	padding-left: 199px;
}
.h1-events {
	font-size: 56px;
	margin-top: 102px;
	color: black;
}
.inndiv-1 {
	font-size: 19px;
	color: #8A8A8A;
	margin-top: 15px;
}
.inndiv-2 {
	color: black;
	font-size: 23px;
	margin-top: 16px;
	line-height: 1.2;
}
.button-4 {
	background-color: #FFBD4B;
	width: 256px;
	height: 80px;
	/*margin-left: 554px;*/
	margin-top: 111px;
	border: none;
}
.section-3 {
	margin-top: 150px;
	height: 517px;
}
.div-3 {
	position: relative;
}
.img-blue {
	width: 100%;
	position: absolute;
}
.h2 {
	font-size: 42px;
	position: absolute;
	color: white;
	margin-top: 20px;
}
.exh-container2 {
	width: 546px;
	margin-left: auto; 
	margin-right: auto;
}
.div-column3 {
	position: absolute;
	height: 1px;
	width: 480px;
	background-color: white;
	margin-left: 380px;
	margin-top: 80px;
}
.div-column4 {
	position: absolute;
	height: 1px;
	width: 490px;
	background-color: white;
	margin-left: 470px;
	margin-top: 95px;
}
.draw {
	position: absolute;
	top: 168px;
	left: 97px;
}
.in-blue {
	font-size: 23px; 
	color: white;
	position: absolute;
	top: 174px;
	left: 773px;
	line-height: 1.5;
}
.button-blue {
	border: none;
	position: absolute;
	background-color: #FFBD4B;
	width: 132px;
	height: 66px;
	left: 773px;
	top: 406px;

}
.in-bluebut {
	font-size: 23px;
	color: black;
}
.div-column5 {
	height: 1px;
	width: 400px;
	background-color: black;
	margin-left: 450px;
	margin-top: 2px;
}
.div-column6 {
	height: 1px;
	width: 400px;
	background-color: black;
	margin-left: 500px;
	margin-top: 10px;
}
.last-container {
	width: 1088px;
	margin-left: auto;
	margin-right: auto;
}
.div-4 {
	margin-top: 53px;
	display: flex;
}
.minmal {
	font-size: 20px;
	color: #8D8686;
	margin-top: 5px;
}
.minmal1 {
	color: black
	font-size: 25px;
	margin-top: 16px;
}
.minmal2 {
	width: 483px;
	color: #919191;
	font-size: 20px;
	margin-top: 42px;
	line-height: 1.2;
}
.divin-5 {
	margin-left: 20px;
}
.exh-container5 {
	width: 139px;
	margin-left: auto;
	margin-right: auto;
}
.exh-container3 {
	width: 164px;
	margin-left: auto;
	margin-right: auto;
}
.column-container {
	width: 586px;
	margin-left: auto;
	margin-right: auto;
}
.button-div {
	width: 256px;
	margin-right: auto;
	margin-left: auto;
}
.div-10 {
	margin-top: 58px;
	position: relative;
}
.text-last1 {
	position: absolute;
	color: white;
	font-size: 50px;
	right: 738px;
	top: 230px;
}
.input-wraper-1 {
	top: 175px;
	left: 747px;
	position: absolute;
	max-width: 478px;
	width: 100%;
	height: 71px;
	background-color: #9B9B9B;
	border: none;
	/*border: 1px solid #e8e8e8;*/
}
.input-wraper-1::placeholder {
	font-size: 22px;
	padding-left: 20px;
	color: white;
}
.subscribe1 {
	top: 285px; 
	left: 747px;
	position: absolute;
	background-color: #F2E56D;
	width: 478px; 
	height:71px;
}
.subscribe2 {
	letter-spacing: 1.5px;
	font-size: 25px;
	color: black;
	padding-left: 182px;
	padding-top: 19px;
}
.footer-div {
	position: relative;
	width: 100%; 
	height: 433px;
	background-color: #0F1926;
}
.footer-p1 {
	position: absolute;
	font-size: 41px;
	color: white;
	top: 93px;
	left: 141px;
	font-family: 'Roboto', sans-serif;
}
.footer-p2 {
	position: absolute;
	color: #E6DF11;
	font-size: 21px;
	top: 185px;
	left: 141px;
}
.footer-p3 {
	position: absolute;
	color: #E6DF11;
	font-size: 20px;
	left: 141px;
	top: 213px;
}
.footer-p4 {
	position: absolute;
	color: white;
	font-size: 25px;
	top: 93px; 
	left: 417px;
}
.footer-p5 {
	position: absolute;
	color: white;
	font-size: 25px;
	top: 156px; 
	left: 417px;
}
.footer-p6 {
	position: absolute;
	color: white;
	font-size: 25px;
	top: 219px; 
	left: 417px;
}
.footer-p7 {
	position: absolute;
	color: white;
	font-size: 25px;
	top: 93px; 
	left: 693px;
}
.footer-p8 {
	position: absolute;
	color: white;
	font-size: 25px;
	top: 156px; 
	left: 693px;
}
.footer-p9 {
	position: absolute;
	color: white;
	font-size: 25px;
	top: 219px; 
	left: 693px;
}
.footer-p10 {
	position: absolute;
	color: white;
	font-size: 25px;
	top: 93px; 
	left: 857px;
}
.footer-p11 {
	position: absolute;
	font-size: 32px;
	color: white;
	top: 126px;
	right: 159px;
}
.facebook {
	position: absolute;
	top: 185px;
	right: 262px;
}
.instagram {
	position: absolute;
	top: 185px;
	right: 207px;
}
.youtube {
	position: absolute;
	top: 180px;
	right: 141px;
}
.saba {
	position: absolute;
	color: white;
	font-size: 15px;
	top: 379px;
	right: 58px;
}